[defaults]
inventory = inventory.ini
remote_user = debian
private_key_file = ~/.ssh/k8s-hard-way
# VMs get recreated with new host keys; acceptable for a local lab only
host_key_checking = False
interpreter_python = auto_silent

[privilege_escalation]
become = True
